
<%= form_for(@look) do |f| %>
 <div class="container">

	  <div class="form-group">
	  	<%= f.label :name %><br>
    	<%= f.text_field :name, class: "form-control" %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :neckware %><br>
    	<%= f.text_field :neckware, class: "form-control" %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :shirts %><br>
    	<%= f.text_field :shirts, class: "form-control" %>
	  </div>	  
	  <div class="form-group">
	  	<%= f.label :shoes %><br>
    	<%= f.text_field :shoes, class: "form-control" %>
	  </div>
	  <%= f.hidden_field :product_id, :value => @product.id rescue nil%>
	  <%# binding.pry %>
	  <%= f.submit 'Submit', class: 'btn btn-default' %>  	
  </div>
<%end%>

