<%# binding.pry %>
<%= form_for(@look) do |f| %>
 <div class="container">
 	<% @l = @look.product_id %>
 	<% @product = Product.find(@l) %>
	  <div class="form-group">
	  	<%= f.label :name %><br>
      	<%= f.text_field :name, class: "form-control" %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :neckware %><br>	  	
	  	<%= f.select(:neckware , Accessory.where("variants IN (?)", "neckwear").pluck(:acc_name),{:prompt => 'Please select bow type'}) %>	
	  </div>
	  <div class="form-group">
	  	<%= f.label :shirts %><br>
    	<%= f.select(:shirts, Accessory.where("variants IN (?)", "shirt").pluck(:acc_name),{:prompt => 'Please select shirt type'}) %>
	  </div>	  
	  <div class="form-group">
	  	<%= f.label :shoes %><br>
    	<%= f.select(:shoes, Accessory.where("variants IN (?)", "shoes").pluck(:acc_name),{:prompt => 'Please select shoe type'}) %>
	  </div>
	  	<%= f.submit 'Submit', class: 'btn btn-default' %>  	
  </div>
<%end%>

