  <div class="container">
  <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Look
                    <small>Build Your Own Style</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <% @looks.each do |look|%>    
            <!-- Project One -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <% @product = look.product_id %>
                        <% @product = Product.find_by_id(@product)  %>

                        <%#= image_tag%>
                        <%= image_tag @product.avatar.url(:thumb) %>
                    </a>
                </div>
                <div class="col-md-5">
                    <h3><%=look.name%></h3>
                    <% if  %>
                    <%= link_to "Edit",edit_look_path(look),class: "btn btn-primary"%>
                    <% end  %>
                    <%= link_to "Delete",look_path(look),method: :delete,class: "btn btn-primary"%>
                    <%= link_to "Order",edit_look_path(look),class: "btn btn-primary"%>
                    <div id ="share" >
                    <%= link_to "Share", class: 'btn btn-primary'%>
                  </div>
                </div>
            </div>
            <!-- /.row -->

        <hr>
                <%end%>
        <!-- /.row -->
</div>

<script type="text/javascript">
$("#share").click(function(){
  alert("hello");
});
</script>

